body #app {
  color: map-get($grey, 'darken-4');
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

  .text-white {
    color: white;
  }

  a {
    text-decoration: none;
  }
}

.nowrap {
  white-space: nowrap;
}

@for $size from 6 through 80 {
  .fs-#{$size} {
    font-size: 1px * $size;
  }
}

@for $weight from 1 through 9 {
  .fw-#{$weight} {
    font-weight: 100 * $weight;
  }
}


